# Database
POSTGRES_DB=minecraft_vpn
POSTGRES_USER=minecraft_vpn_user
POSTGRES_PASSWORD=change_me

# Redis
REDIS_PASSWORD=change_me

# Grafana
GRAFANA_PASSWORD=change_me

# 3x-ui (для экспортёра)
XUI_USERNAME=admin
XUI_PASSWORD=change_me
